<h3>AllUrls</h3>

<table *ngIf="allUrls">
    <thead>
        <tr>
            <th>Original URL</th>
            <th>Short URL</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let url of allUrls">
            <td class="table-row">{{ url.originalUrl }}</td>
            <td class="table-row">{{ url.shortUrl }}</td>
            <td class="table-row">
                <a routerLink="/urls/certain/{{url.id}}"> Details...</a>    
            </td>
            <td class="table-row" *ngIf="url.showDeleteButton">
                <form>
                    <input type="hidden" name="urlId" [value]="url.id">
                    <input (click)="OnUrlDelete($event, url.id)" type="submit" value="Delete url">
                </form>
            </td>
        </tr>
    </tbody>
</table>

<div id="form-container"></div>
<div id="new-url-error-container"></div>
