<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <ul>
                <li class="nav-item">
                    <a class="nav-link text-dark" routerLink="/urls/all">All Urls</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" routerLink="/account/login">login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" routerLink="/account/register">register</a>
                </li>
            </ul>
        </div>    
    </nav>
</header>
<main>
    <router-outlet></router-outlet>
</main>